@model ParkDetailVewModel
@{
    ViewData["Title"] = "Detail";
}

<main id="details">
    <img src="~/images/parks/@(Model.Park.Code).jpg" alt="Image of @Model.Park.Name" />
    <section id="park-info" class="park-info">
        <header>
            <h2>@Model.Park.Name</h2>
            <p>@Model.Park.State</p>
            <section class="quote">
                <p><q>@Model.Park.Quote</q> <span>@Model.Park.QuoteAuthor</span></p>
            </section>
        </header>
        <section class="body-text">
            <p>@Model.Park.Description</p>
        </section>
        <section class="specs">
            <p><b>Year Founded:</b> @Model.Park.YearFounded</p>
            <p><b>Acreage:</b> @Model.Park.Acreage</p>
            <p><b>Annual Visitors:</b> @Model.Park.AnnualVisitorCount</p>
            <p><b>Number of Campsites:</b> @Model.Park.Campsites</p>
            <p><b>Elevation (ft):</b> @Model.Park.Elevation</p>
            <p><b>Entry Price:</b> @(Model.Park.EntryFee.ToString("C2"))</p>
            <p><b>Number of Animal Species:</b> @Model.Park.NumSpecies</p>
            <p><b>Trail Length (miles):</b> @Model.Park.TrailMiles</p>
            <p><b>Park Climate:</b> @Model.Park.Climate</p>
        </section>
    </section>
    <section id="park-forecast">
        <h2 class="header">Forecast</h2>
        @foreach (DailyWeather weather in Model.Forecast)
        {
            string todayClass = string.Empty;
            if (weather.ForecastDay == 1)
            {
                todayClass = " today";
            }
            <section class="forecast@(todayClass)">
                <h3 class="header">Today</h3>
                <img src="~/images/weather/@(weather.Forecast.Replace(" ", "")).png" alt="It will be @weather.Forecast on this day." />
                <section class="temps">
                    <p>
                        High
                        <span class="highTemp">@weather.HiTemp</span>
                    </p>
                    <p>
                        Low
                        <span class="lowTemp">@weather.LowTemp</span>
                    </p>
                </section>
                <section class="body-text">
                    @if (weather.ForecastDay == 1)
                    {
                        // TODO add indcators for wether conditions, May be more then one
                        <p>text</p>
                    }
                </section>
            </section>
        }
        <button id="tempConvertButton" type="button" class="toggle" value="To Celcius">To Celcius</button>
    </section>
</main>

