@model IList<ParkData>
@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <h1 class="header"></h1>
    @foreach (ParkData park in Model)
    {
        <article class="park">
            <a class="image-area" asp-controller="Home" asp-action="Detail" asp-route-code="@park.Code">
                <img src="~/images/parks/@(park.Code.ToLower()).jpg" alt="Picture of @park.Name" />
            </a>
            <header>
                <h2>@park.Name</h2>
                <p>@park.State</p>
            </header>
            <section class="body-text">
                <p>@park.Description</p>
            </section>
        </article>
    }
</main>